
<link rel="stylesheet" href="/style.css" />
<nav id="menuCal">
<a href="{{ path('app_exo1_calculatrice_addition', {x:10, y:10}) }}">Additioner</a>
<a href="{{path('app_exo1_calculatrice_soustraction', {x:10, y:10})}}">Soustraire</a>
<a href="{{path('app_exo1_calculatrice_multiplication', {x:10, y:10})}}">Multiplier</a>
<a href="{{path('app_exo1_calculatrice_division', {x:10, y:0})}}">Diviser</a>
</nav>